<div class="backgrounded" *ngIf="isLoaded===1">
  <div class="topright">
    <button (click)="this.aLogin()" class="button3">Login</button>
    <button (click)="this.logOut()" class="button3">LogOut</button>
    <button (click)="this.aRegistrarUsuario()" class="button3">Registrar</button>
  </div>

  <div class="topleft" *ngIf="logged === 'true'">
    <h3> loggeado como: {{this.username}}</h3>
  </div>

  <img src="../../assets/img/listado.png" height="129" width="335" class="imgCenter">
  <div align="center" style="padding: 24px 24px;">
  <form>
    <select name="sorter" [(ngModel)]="sorterValue" class="boxStyler">
      <option value="id">Sort by ID</option>
      <option value="name" >Sort by Name</option>
    </select>
    <button (click)="this.sortPage()" class="button3">Sort</button>
  </form>
  <form>
    <input type="text" name="sercher" [(ngModel)]="search"  class="boxStyler" >
    <button (click)="this.searchName()" class="button3">Buscar</button>
  </form>
  </div>
  <div *ngFor="let pokemon of pokemons">
    <app-poke-tarjeta [pokemon]="pokemon"></app-poke-tarjeta> <br>
  </div>
</div>
