.iniButton {
  background-color:#a7c2ae;
  border-radius:42px;
  border:4px solid #49574a;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:17px;
  padding:16px 3px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1b2619;

}
.iniButton:hover {
  background-color: #5d77ff;
}

.hideIniButton {
  background-color: #a7c2ae;
  border-radius: 42px;
  border: 4px solid #49574a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 17px;
  padding: 16px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1b2619;
  visibility: hidden;
}

.content{
  width: 516px; /*328 co je 1/3 - 20margin left*/
  height: 129px;
  line-height: 20px;
  margin-top: 0px;
  margin-left: 9px;
  margin-right:0px;
  display:inline-block;
  position:relative;
}

.content button {
  position:absolute;
  bottom:-42px;
  right:318px;
}



.imgZoom {
  animation: zoominoutsinglefeatured 2s forwards;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(4.0,4.0);
  }
}
